.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-header{
  display: flex;
  align-items: center;

}

.cardStatus{
  text-transform: uppercase;
  font-weight: bold;
  background-color: #dadee2;
  padding: 0.3em;
  border-radius: 6px;
}

.card-image {
  /* height: 50%;  */
  margin: 1em;
  width: 30%; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding:0em 1em 0em 1em;
  display: flex;
  height: 12em;
  flex-direction: column;
}
.card-data{
  /* height: 10em; */

}
.card-data p {
  margin-right: 0.5em;
  display: inline; 
}

h2 {
  margin-bottom: 1em;
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.button-content{
  margin:0em 0em 1em 0em;
}

.order-button {
  /* margin-top: 10px; */
  padding: 8px 16px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid ;
  border-radius: 4px;
  border-color: #007bff;
  cursor: pointer;
  width: 12em;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.order-button:hover {
  background-color: #0056b3;
}


.show-more {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
  
}


@media (max-height: 700px) {
  .card-data p {
    margin-right: 0.2em;
    display: inline; 
  
  }
  
  .card-content h2 {
    margin-bottom: 0.2em;
    font-size: 1em;
  }
  
  .card-content p {
    font-size: 0.8em;
  }
  
}



@media (max-width: 1024px) {

  .card {

    margin: 20px;
    max-width: 20%;
 
  }
  
  .card-header{
    display: flex;
    align-items: center;
  
  }
  
  .cardStatus{
 
    padding: 0.3em;
    font-size: 0.8em;
  }
  
  .card-image {
    /* height: 50%;  */
    margin: 1em;
    width: 30%; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    padding:0em 1em 0em 1em;
    display: flex;
    height: 12em;
    flex-direction: column;
  }
  .card-data{
    /* height: 10em; */
  
  }
  .card-data p {
    margin-right: 0.5em;
    display: inline; 
    font-size: 0.6em;

  }
  
  .card-content h2 {
    margin-bottom: 1em;
    font-size: 0.8em;
  }
  

  .button-content{
    margin:0em 0em 1em 0em;
  }
  
  .order-button {
    /* margin-top: 10px; */
    padding: 8px 16px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid ;
    border-radius: 4px;
    border-color: #007bff;
    cursor: pointer;
    width: 8em;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .order-button:hover {
    background-color: #0056b3;
  }
  
  
  .show-more {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
    font-size: 0.6em;
  }

}