.modal {
  
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chosen-service{
  height: 95%;
  width: 10%;
  padding:0 2em 0 2em;
  text-align: center;
  text-decoration: underline;
  background-color: #fff;
  margin:0 0.5em 0em 0.5em;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-card{
  height: 95%;
  padding:0 2em 0 2em;
  background-color: #fff;
  margin:0 0.5em 0em 0.5em;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-characteristics{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 95%;
  width: 60%;
  background-color: #fff;
  margin:0 0.5em 0em 0.5em;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-characteristics-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 80%;

}
.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 50vh;
  
}
.card-modal-data{
display: flex;
height: 95%;
width: 30%;
margin: 0 0.5em 0em 0em;
}

.modal-content-data{
  display: flex;
  height: 100%;
  align-items: center;
  
}

.modal-content input {
  width:29.5vw;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.input-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}

.input-label {
  position: relative;
  margin-bottom: 5px;
}
.input-label span {
  position: absolute;
  background: white;
  padding: 0 5px;
  left: 10px;
  top: -0.2em;
  font-size: 0.8em;
}

.select {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 30vw;
}
