.cardModal {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin: .5em; */
  max-width: 15em;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.cardModal-header{
  display: flex;
  align-items: center;
  font-weight: 600;

}


.cardModal-image {
  /* height: 50%;  */
  margin: 1em;
  width: 15%; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cardModal-content {
  padding:0em 1em 0em 1em;
  display: flex;
  width: 90%;
  flex-direction: column;
}

.cardModal-label{
  display: flex;
  justify-content: space-between;
}

.cardModal-payment{
  display: flex;
  justify-content: space-between;
  width: 5.5vw;
}
.cardModal-data{
  /* height: 10em; */

}
.cardModal-data p {
  margin-right: 0.5em;
  display: inline; 
}

h2 {
  margin-bottom: 1em;
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.buttonModal-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  width: 90%;
  /* margin:0em 0em 1em 0em;  */
}

.button {
  /* margin-top: 10px; */
  padding: 5px 10px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid ;
  border-radius: 4px;
  border-color: #007bff;
  cursor: pointer;
  width: 100%;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  background-color: #0056b3;
}


@media (max-height: 700px) {

  .cardModal {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: .5em; */
    max-width: 15em;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
  
  .buttonModal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 90%;
    /* margin:0em 0em 1em 0em;  */
  }
  
  .button {
    /* margin-top: 10px; */
    padding: 3px 8px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid ;
    border-radius: 4px;
    border-color: #007bff;

    cursor: pointer;
    width: 60%;
    font-size: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .cardModal-label{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
  

  

}