.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.Main {
  display: flex;
  width: 100%;
  /* height:98vh */

}

.NavBar {
  flex-grow: 4; 
  max-width: 15%; 
  background-color:rgb(169, 186, 208);

}

.Home {
  width: auto;
  height: 91vh;
 
}