.navBar-container{

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid;
}

.navBar-buttons{
 
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 0 0 0 1em;
  
}
.navBar-button{
  width: 9vw;
  padding: 8px 16px;
  /* background-color: #ffffff; */
  color: #000000;
  /* border: 1px solid ;
  border-radius: 4px;
  border-color: #007bff; */
  cursor: pointer;
  
  font-size: 1.5em;
  font-weight: bold;

}


@media (max-width: 1024px) {
  .navBar-button{
    font-size: 1.1em;
  }
}